beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
dnspython==2.6.1
exceptiongroup==1.2.1
idna==3.7
iniconfig==2.0.0
lxml==5.2.1
packaging==24.0
pluggy==1.5.0
PySocks==1.7.1
pytest==8.1.1
requests==2.31.0
schedule==1.2.1
-e git+https://github.com/PabloBorda/tools_goldenthinkerextractor.git@7bb819ba7398726876467d64bb777e28b4a9984d#egg=search_engines&subdirectory=Search-Engines-Scraper
soupsieve==2.5
stem==1.8.2
tld==0.13
tomli==2.0.1
urllib3==2.2.1
whois==1.20240129.2
